{%extends 'WhatDidYouEat/base.html'%}
{%block content%}
{% load static %}
<main>
    <h1>{{post.title}}</h1><hr>
    <p style="font-size: 1em;">{{post.pub_date}}</p>
    {%if post.image %}
    <img src="{{post.image.url}}" height=400><br>
    {%endif%}
    <p>{{post.body|linebreaks}}</p>
    {%if post.file%}
    <p style="font-size:1em;">첨부파일 다운로드 : <a href="{{post.file.url}}" download>{{post.file.name}}</p>
    {%endif%}
    <hr>
    <div>
        <a href="{% url 'delete' pk=post.pk %}" class="postEdit">삭제하기</a>
        <a href="{% url 'edit' pk=post.pk %}" class="postEdit">수정하기</a>
    </div>
    <div class="comment">
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="text">
            <button type="submit">comment</button>
        </form>
        {% for comment in comment_list %}
        <span>{{comment.created_date}}</span>
        <a href="{%url 'delete_comment' pk=post.pk comment_pk=comment.pk%}" class="postEdit">delete</a>
        <p>{{comment.text|linebreaks}}</p>
        {%endfor%}
    </div>
</main>
{%endblock%}