{%extends 'WhatDidYouEat/base.html'%}
{%block content%}
{% load static %}

<main>
    <div class="container">
        <div class="row">
            {%for post in post_list%}
            <div class="col-lg-4 col-12 pb-5" style="width: 18rem;">
                <img src="{%static 'WhatDidYouEat/image/card.jpg'%}" class="card-img-top" alt="card image">
                <div class="card-body">
                    <h5 class="card-title">{{post.title}}</h5>
                    <p class="card-text">{{post.body}}</p>
                    </div>
                <a href="{% url 'detail' pk=post.pk %}" class="btn btn-primary">포스트 보기</a>
            </div>
            {%endfor%}
        </div>
    </div>
    
</main>

{%endblock%}