
<!DOCTYPE html>
{% load static %}
<html lang="kor">
    <head>
        <meta charset="utf-8">
        <title>What did you eat today?</title>
        <link rel="stylesheet" type="text/css" href="{% static 'WhatDidYouEat/css/style.css' %}"/>
    </head>
    <body>
        <header><a href="{%url 'home'%}" style="color: white;">오늘 뭐 먹었음?</a></header>
        <main>
            <div class="makeNew">
                <a href="{% url 'today' %}">기록하기</a>
            </div>
            {%for post in post_list%}
                <div class="post">
                    <h3>{{post.title}}</h3>
                    <hr>
                    <p style="font-size: 11px;">{{post.pub_date}}</p>
                    <p>{{post.body|linebreaks}}</p>
                </div>
            {%endfor%}
        </main>
    </body>
</html>