@font-face { font-family: 'NeoDunggeunmo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff'); font-weight: normal; font-style: normal; }

*{
    font-family: 'NeoDunggeunmo', sans-serif;
    box-sizing: border-box;
}
body{
    background-image: url('../image/1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 100px;
    padding-top: 30px;
    text-align: center;
    font-size: 30px;
    background-color: #152030;
}
main{
    margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height:auto;
}

button, .postEdit{
    width: 100px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    border: solid 1px;
    border-radius: 10px;
    margin: 20px 10px;
}

div.post{
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    border: 1px dashed;
    border-radius: 5px;
    padding: 20px;
}

div.comment{
    margin-top: 30px;
}

a, a:hover, a:active{
    text-decoration: none;
    color: white;
}

.info{
    margin: 20px 15px;
    float:right;
    font-size: 20px;
}